/* reset */
* {
	margin: 0 0 0 0;
	border-width: 0;
	box-sizing: border-box;
	padding: 0 0 0 0;

}
/* ========== */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
body {
	height: 100%;
	width: 100%;
	color: aliceblue;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}
body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-image: linear-gradient( 230deg, rgba(52 148 185 / 80%), rgba(136 188 206 / 70%) ), url(https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
/* ===========CONTAINER=========== */
.container {
	max-width: 700px;
	margin: 3.5rem auto 0 auto;
}
@media (max-width: 1100px) {
	.container {
		max-width: 500px;
	}
}
@media (max-width: 800px) {
	.container {
		max-width: 400px;
	}
}
@media (max-width: 620px) {
	.container {
		max-width: 300px;
	}
}
/* ===========TITLE&DESCRIPTION=========== */
.tac {
	text-align: center;
}
h1, p {
	margin-top: 0;
}
h1 {
	font-weight: 400;
	line-height: 1.2;
	font-size: 2.5rem;
}
#description {
	font-style: italic;
	font-weight: 200;
	font-size: 1.3rem;
	text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
	margin-bottom: 0.5rem;
}
/* ===========FORM=========== */
#survey-form {
	background-color: rgb(17 78 102 / 80%);
	border-radius: 5px;
	margin: 20px 0 0 0;
	padding: 2rem;
}
.db {
	display: block;
}
input, select, textarea {
	margin: 10px 0 15px 0;
	padding: 0 0 0 10px;
	border-radius: 6px;
	font-size: 1rem;
}
label, .question {
	font-size: 1.2rem;
}
.wide {
	width: 100%;
  height: 2rem;
	
}
.text {
  border: 3px solid #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
	color: #484848;
}
.text:focus {
  border: 3px solid #119fd8;
}
.lastchild {
	margin: 0 0 15px 0;
}
.questionblock {
	margin: 30px 0 0 0;
}
input[type="radio"] {
	width: 1rem;
	height: 1rem;
}
input[type="checkbox"] {
	width: 1rem;
	height: 1rem;
}
textarea {
	min-height: 100px;
	resize: none;
}
.subbutton {
	border-radius: 4px;
	min-height: 40px;
	background-color: #16b368;
	color: #fff;
	font-size: 1.2rem;
	cursor: pointer;
	-webkit-transition: 0.5s;
  transition: 0.5s;
}
.subbutton:hover{
	background-color: #024726;
}
/* TODO: еще формы инпута | что-то из дыр*/